#gotta-breathe {
  top: 0;
  background: rgb(178, 216, 255);
  position: fixed;
  z-index: 9999999999999;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Prevent viewing more than 25 items on old.reddit.com */
.nextprev {
  display: none;
}
