#gotta-breathe {
  align-items: center;
  background: rgb(178, 216, 255);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999999999999;
  font-size: 14pt;
  /* font: normal medium sans-serif; */
}

#gotta-breathe > div {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#gotta-breathe label {
  margin-right: 8px;
}

#gotta-breathe > #headspace-gif-container {
  flex: 3;
  overflow: hidden;
  justify-content: flex-end;
}

#headspace-gif-container img {
  height: 100%;
}
